body{
    font-family: Roboto;
}
.search-container {
    background-image: url("headerimage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.filter-calories {
  /* position: absolute; */
  /* top: 0;
  left:0 ; 
  right: 0;
  bottom:0 ; */
  height: 20px;
  display: flex;  
  justify-content: center ;
  align-items: center;
  /* margin-top: 200px;
  margin-left: 100px; */
}
.form {
    /* position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.search-button {
    height: 20px;
}

.recipes-container{
    margin-top: 20px;
    display:flex;
    flex-direction: column;
}



.recipeCard{
    margin-top: 15px;
    flex-wrap: wrap;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid grey;
}

img{
    width:100%;
}

h1{
    font-size:20px;
}

@media (min-width: 667px) {
    body{
        margin: 0 20 0 20;
    }
    .recipes-container{
        flex-direction: row;
        flex-wrap:wrap;
        align-items:flex-start;
    }
    .recipeCard{
        width: 250px;
    }

}

@media (min-width: 1025px) {
    .recipes-container{
        flex-direction: row;
        flex-wrap:wrap;
        align-items:flex-start;
    }
    .recipeCard{
        width: 300px;
    }
}

@media (min-width: 1240px) {
    .recipes-container{
        flex-direction: row;
        flex-wrap: wrap;
        align-items:flex-start;
    }
    .recipeCard{
        width: 400px;
    }
}
